name: test

on:
  push:
  pull_request:
  schedule:
    - cron: "30 14 * * *"

jobs:
  ruby-versions:
    uses: ruby/actions/.github/workflows/ruby_versions.yml@master
    with:
      engine: cruby
      min_version: 3.0

  test-ruby-versions:
    needs: ruby-versions
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ${{ fromJson(needs.ruby-versions.outputs.versions) }}
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle install
      - run: bundle exec rake test

  test-rbs-versions:
    needs: ruby-versions
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        rbs: ['latest', '3.4', '3.2', '3.0', '2.7.0']
    env:
      GEMFILE_RBS_VERSION: ${{ matrix.rbs }}
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ fromJson(needs.ruby-versions.outputs.latest) }}
          bundler-cache: true
      - run: bundle install
      - run: bundle exec rake test

  test-prism-versions:
    needs: ruby-versions
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        prism: ['latest', '1.0.0']
    env:
      GEMFILE_PRISM_VERSION: ${{ matrix.prism }}
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ fromJson(needs.ruby-versions.outputs.latest) }}
          bundler-cache: true
      - run: bundle install
      - run: bundle exec rake test
